.image-slide-container{
    width: 60vw !important;
    height: 65vh !important;
}

.image-slide-item{
    width: 100% !important;
    height: 100% !important;
}

.image-slide-item img{
    max-width: 60vw;
    max-height: 65vh;
    object-fit: cover;
    object-position: center center;
}

.previous-page-btn:hover{
    cursor: pointer;
}